<a href="https://colab.research.google.com/github/shivyy2283/class1/blob/main/Copy_of_Copy_of_PESUIO_Slot_14_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

In [ ]:
#@title Example form fields
#@markdown Forms support many types of fields.

no_type_checking = ''  #@param
string_type = 'example'  #@param {type: "string"}
slider_value = 142  #@param {type: "slider", min: 100, max: 200}
number = 102  #@param {type: "number"}
date = '2010-11-05'  #@param {type: "date"}
pick_me = "monday"  #@param ['monday', 'tuesday', 'wednesday', 'thursday']
select_or_input = "apples" #@param ["apples", "bananas", "oranges"] {allow-input: true}
#@markdown ---

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
customer = 29
charge = 200
plane = 5000
profit = (charge*customer) - plane
print("profit: ",profit)

profit:  800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
#use if-else statements and print out the required information:
num = 12
#complete this area
if(num%2 == 0 and num%3 == 0):
  print("multiple of 2 and 3")
else:
  if(num%2 == 0):
    print("just 2")
  else:
    print("just 3")

multiple of 2 and 3

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
str = "ANTIESTABLISHMENTARIANISTICALLY"
count = 0
for s in str:
  if(s == 'a' or s == 'A' or s=='e' or s=='E' or s =='i'or s =='I'or s =='o' or s =='O' or s=='u' or s =='U'):
    count = count + 1
print("no of vowels :" , count)

no of vowels : 12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 

#iterate over the list and find the name of the fruit which has the smallest word length

# append a vegetable to your existing list

# find the size of your list

# add enough fruits such that your list size if greater that 4

# delete the 2nd fruit(1st index) from your list:

# add your name in the 4th position of the list (3rd index)

#have fun and try out any 4-5 pre-defined fucntions on a list as seen in the python list documentation

In [ ]:
fruits = ["kiwi" , "apple" , "guava" , "watermelon"]
fruit = fruits[0]
ans = fruit
for i in fruits:
  if(len(i) < len(fruit)):
    ans = i
print("fruit with smallest word length :",ans)
print(len(fruits))
fruits.append("beans")
fruits.append("mango")
print(fruits)
print(len(fruits))
fruits.pop(1)
print(fruits)
fruits.insert(3,"shivani")
print(fruits)
fruits.append("carrot")
print(fruits)
fruits.reverse()
print(fruits)
fruits.sort()
print(fruits)
fruits.clear()
print(fruits)

fruit with smallest word length : kiwi
4
['kiwi', 'apple', 'guava', 'watermelon', 'beans', 'mango']
6
['kiwi', 'guava', 'watermelon', 'beans', 'mango']
['kiwi', 'guava', 'watermelon', 'shivani', 'beans', 'mango']
['kiwi', 'guava', 'watermelon', 'shivani', 'beans', 'mango', 'carrot']
['carrot', 'mango', 'beans', 'shivani', 'watermelon', 'guava', 'kiwi']
['beans', 'carrot', 'guava', 'kiwi', 'mango', 'shivani', 'watermelon']
[]

TUPLES AND ITS FUNCTIONALITY:

In [ ]:
#create abd tuple and print its elements 

#print the type of each value in the tuple

#try to change the seconf value in your tuple to "Caterpillar"

# print the last element of the tuple without using the length of the tuple

# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...

#sort vs sorted function: find the difference in the form of a program:

In [ ]:
tup = (1,2,4,3,7,6)
print(tup)
# tup[2] = "caterpillar" - statement gives error
print(tup[-2:])
print(tup[:3])
print(tup[0:])
print(tup[2:4])
#tup[1] =9
print(tup[-1])
t = tuple(sorted(tup))
print(t)
#print(tup.sort())
#sort cannot be applied on a tuple as it modifies the original tuple

(1, 2, 4, 3, 7, 6)
(7, 6)
(1, 2, 4)
(1, 2, 4, 3, 7, 6)
(4, 3)
6
(1, 2, 3, 4, 6, 7)

SETS AND ITS FUNCTIONALITY:

In [ ]:
#explore the properties of set and after doing that solve this little puzzle below:

In [ ]:

myset = [1,2,3,1,34,5,36,22,22,22,6,1,7,8]
myset = set(myset)
print(myset)
set1 = {"hello" , "hey","hi"}
print(myset.pop())
print(myset)
myset.add(15)
print(myset)
myset.remove(3)
print(myset)
myset = set1.copy()
print(myset)
set1.remove("hey")
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 34, 5, 36, 6, 7, 8, 22}
1
{2, 3, 34, 5, 36, 6, 7, 8, 22}
{2, 3, 34, 5, 36, 6, 7, 8, 15, 22}
{2, 34, 5, 36, 6, 7, 8, 15, 22}
{'hello', 'hi', 'hey'}
{'hello', 'hi'}
set()

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [ ]:
#solve the above problem and help ana do her work she may even hire you as her assistant!!!
string =  "rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
word_list = []
word = ""
for i in string:
  word = word + i
  if(i==' '):
    word_list.append(word)
    word = ""
print(word_list)
hashtag = ["ootd" , "lol" , "ffs" , "asap"]
count = 0
lw = len(word_list)
print(lw)
#use split()
#use set removes duplicates
wor = list(set(word_list))
print(wor)
for i in range(len(wor)):
  if wor[i] not in hashtag:
    count+=1
print(count)

['rofl ', 'lol ', 'macha ', 'bob ', 'ootd ', 'asap ', 'fun ', 'sweet16 ', 'ffs ', 'lol ', 'asap ', 'ootd ', 'ffs ', 'macha ', 'rofl ', 'bob ', 'ootd ', 'fun ', 'candid ', 'anime ', 'happyhours ', 'bob ', 'fun ']
23
['happyhours ', 'fun ', 'anime ', 'rofl ', 'ootd ', 'asap ', 'lol ', 'sweet16 ', 'ffs ', 'bob ', 'macha ', 'candid ']
12

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [ ]:
# Python program to count the frequency of
# elements in a list using a dictionary
#dictionaries similar to hash maps
def CountFrequency(my_list):
 
    # Creating an empty dictionary
    freq = {}
    #------fill your code here-----------------
    for i in my_list:
      freq[i] = my_list.count(i)
    print(freq)
    
# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
 
    CountFrequency(my_list)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !